$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px);

$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #807f7f;
$nav-font-color: #ffffff;
$link-hover-color:  #C99400; //#2581DC;

$speed: 160ms;
$radius-md: 4px;